.calender{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    row-gap: 20px;
    column-gap: 15px;
}
.date,.day{
    background-color: aqua;
    border-radius: 5px;
    height: 70px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
.day {
    background-color: aliceblue;
}